.section_wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
}

#army-list {
  display: inline-block;
  overflow-y: scroll;
}

#start-list {
  display: inline-block;
  overflow-y: scroll;
}

#card-list {
  display: inline-block;
  overflow-y: scroll;
}

.header {
  font-size: 2em;
  text-align: left;
  padding-top: 0px;
  height: auto;
  flex-shrink: 0;
  font-family: 'Sansation Bold';
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 16px;
  color: #00B3FF;
  text-shadow: 0px 0px 20px #00B3FF;
}

.army {
  padding: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.army.selected {
  background: rgb(30, 122, 161);
  border: 1px solid #00B3FF;
  box-shadow: inset 0px 0px 10px rgb(0, 179, 255);
}

.remove-army {
  display: block;
  float: right;
  color: white;
  padding: 0.3em;
}

.remove-army:hover {
  color: white;
  background: red;
}

.start-card,
.card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.start-card .icon-col,
.card .icon-col {
  width: 70px;
  margin-right: 10px;
}

.start-card img,
.card img {
  width: 70px;
  height: 70px;
}

.start-card .text-col,
.card .text-col {
  width: 400px;
}

.start-card .summary,
.card .summary {
  color: #fff;
  font-size: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.start-card .desc,
.card .desc {
  color: #ddd;
  font-size: 11px;
}

.start-card:hover,
.card:hover {
  border-color: rgb(0, 179, 255);
  box-shadow: 0px 0px 50px rgba(0, 179, 255, 0.5);
}

.start-card.selected,
.card.selected {
  background: rgb(30, 122, 161);
  border: 1px solid #00B3FF;
  box-shadow: inset 0px 0px 10px rgb(0, 179, 255);
}

